<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <p>Welcome to the login page!</p>
    <form method="POST" action="/Login">
        <b>Login!</b>
        <input type="text" name="userName" placeholder="Enter Username">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">Submit</button>
    </form>
    <form method="POST" action="/createUser">
        <b>Create Account!</b>
        <input type="text" name="C_userName" placeholder="Enter Username">
        <input type="password" name="C_password" placeholder="Enter password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
